### 카페명 : 전기차동호회 - 현대 아이오닉5 6 9,기아 EV3 6 9,테슬라모델3 Y
## 주소 : https://cafe.naver.com/allfm01
## 수집 날짜 : 2024.08.14

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import os
import sys

In [3]:
pd.set_option('display.max_colwidth', None)  # 전체 열 너비를 무제한으로 설

# 현재 경로
print(os.getcwd())

# id,title,content,likes,url,author,views,created_at,updated_at,조회수
df_post = pd.read_csv("1Day.csv")

/Users/admin/Desktop/teamproject/softeer-team-project/wh/1day_naver_cafe_EDA

In [4]:
df_post.head()

,제목,작성자,날짜,조회수,댓글 수
0,"전기차 직거래 판매\n\n[팝니다] EV9 어스 4륜, 19인치, 화이트/브라운, 23년 12월 출고, 14,200Km 판매사진 [13]",공돌이IEV9I경남,2024.08.14.,"1,681",13
1,기아 EV3\n\n빌트인캠2 고전압 배터리 녹화 궁금증 [5],오롱아빠I충남,2024.08.14.,283,5
2,전기차Q&A\n\n완속vs급속 [4],주부테I아오5I경남,2024.08.14.,274,4
3,벤츠 EQE\n\n기사 볼때마다 화가 나네요 [16],맨발IEQEI서울,2024.08.14.,731,16
4,주행거리/전비 인증\n\n더뉴EV6 기분좋은 전비 사진 [3],입이식수IEV6I서울,2024.08.14.,345,3

In [5]:
# 데이터 타입 확인
df_post.dtypes

제목      object
작성자     object
날짜      object
조회수     object
댓글 수     int64
dtype: object

In [6]:
# 결측치 확인
df_post.isnull().sum()

# 결측치 인덱스 확인
df_post[df_post.isnull().any(axis=1)]

Empty DataFrame
Columns: [제목, 작성자, 날짜, 조회수, 댓글 수]
Index: []

In [7]:
# 조회수 컬럼 int 타입으로 변경
df_post['조회수'] = df_post['조회수'].str.replace(',', '').astype(int)

In [8]:
# 데이터 분포 확인, [댓글 수], [조회수]
df_post.describe()

               조회수         댓글 수
count  1146.000000  1146.000000
mean    376.367365     7.371728
std     507.073307     9.616927
min       2.000000     0.000000
25%      95.250000     2.000000
50%     247.000000     5.000000
75%     445.000000     9.000000
max    4988.000000   135.000000

In [9]:
# 상위 10%, 5%, 3% 에 대한 분포 확인
df_post.describe(percentiles=[.90, .95, .97, .99])

               조회수         댓글 수
count  1146.000000  1146.000000
mean    376.367365     7.371728
std     507.073307     9.616927
min       2.000000     0.000000
50%     247.000000     5.000000
90%     794.000000    17.000000
95%    1170.000000    22.000000
97%    1666.650000    27.000000
99%    2776.450000    46.550000
max    4988.000000   135.000000

In [10]:
# 조회수와 댓글 수의 상관관계
df_post[['조회수', '댓글 수']].corr()

           조회수      댓글 수
조회수   1.000000  0.659597
댓글 수  0.659597  1.000000

In [11]:
num_post = 200

# post_id_list
post_id_list = df_post['id'].tolist()

def get_comment(post_id, df_comment):
    comments = df_comment[df_comment['post_id'] == post_id]
    return comments

In [12]:
import plotly.express as px

for i in range(190, num_post):
    comments = get_comment(post_id_list[i], df_comment)
 
    # 1. cmt_created_at을 datetime 형식으로 변환
    comments['cmt_created_at'] = pd.to_datetime(comments['cmt_created_at'])

    # 2. 10분 간격으로 시간 그룹화 (min 사용)
    comments.set_index('cmt_created_at', inplace=True)
    comments = comments.resample('10min').size().cumsum()

    # 3. 누적 댓글 수 계산
    comments = comments.reset_index()

    # 4. plotly로 그래프 그리기
    fig = px.line(comments, x='cmt_created_at', y=0, markers=True,
                labels={'cmt_created_at': 'Time', '0': 'Cumulative Comments'},
                title='Cumulative Comments Over Time')

    fig.show()

    # 그림 저장하기
    fig.write_html(f"분석/comments_{i}.html")
    url = df_post[df_post['id'] == post_id_list[i]]['url']
    print(url)
    print(type(url))  # Series
    # url 뒤에 ... 안나오게 출력
    print(url.to_string(index=False))

NameError: name 'num_post' is not defined